@font-face {
    font-family: "Noto Color Emoji";
    src: url('./NotoColorEmoji.ttf') format('truetype');
}

@font-face {
    font-family: "SF Thonburi";
    src: url('./SFThonburi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

@font-face {
    font-family: "SF Thonburi";
    src: url('./SFThonburi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

@font-face {
    font-family: "SF Thonburi";
    src: url('./SFThonburi-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0E00-U+0E7F;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('./SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('./SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url('./SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "SF Thonburi", "SF Pro Display", "Noto Color Emoji" !important;
}